<div class='row'>
  <div class='columns large-12 text-center'>
    <h1>Welcome to Life Tracker!</h1>
  </div>
</div>

<div class='row'>
  <div class='columns large-6'>
    <h2>Recent Schools</h2>
    <% @schools.order(:created_at).limit(5).each do |school| %>
        <p><%= school.person.name %> just added <%= school.school_name %> to his list of schools!</p>
        <p><%= school.created_at %></p>
    <% end %>
  </div>

  <div class='columns large-6'>
    <h2>Recent Life Events</h2>
    <% @life_events.order(:created_at).limit(5).each do |event| %>
        <p><%= event.person.name %> just added <%= event.title %> to his list of schools!</p>
        <p><%= event.created_at %></p>
    <% end %>
  </div>
</div>


